.project-page { --project-gallery-gap: 3px; }

.sticky-gallery { grid-template-columns: repeat(2, minmax(0, 1fr)); }
.sticky-gallery__column--left { display: none; }
.sticky-gallery__column--center { height: auto; position: static; }
.sticky-gallery__column--center figure, .sticky-gallery__column--right figure { height: calc(100vh - var(--project-gallery-gap)); }

@media (max-width: 767px) { .sticky-gallery__column--center figure, .sticky-gallery__column--right figure { height: auto; } }
