.project-page { --project-gallery-gap: 3px; }

.sticky-gallery__column--left figure:nth-child(5) img { object-position: left center; }
.sticky-gallery__column--right figure:nth-child(5) img { object-position: center 75%; }
